body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formSignIn{
width: 23rem;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
margin-top:150px;
}

.form{
  width: 25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom: 35px;
}

.hospitalCard{
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
  width: 33rem;
}

.contactForm{
  margin-left: 20px;
  
  margin-top:60px;
  width: 60rem;
}

.navPar{
  color: #e32314;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 27px;
  margin-right: 7px;
}

.navList{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

.carousel{
  margin: 0 auto; 
  width: 100%;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color:white;
  color: black;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.hospitalFont{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #e32314;
  font-size: 25px;
}

.hospitalPar, .memberPar{
  font-family: Georgia, 'Times New Roman', Times, serif;
}


